.Header {
  position: relative;
  width: 100%;
  height: 65.2rem;
  &__bg {
    &__over {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.7);
    }
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    img {
      object-fit: cover;
      object-position: center;
    }
  }
  &__content {
    flex-basis: 65.7rem;
    height: 65.2rem;
    position: relative;
    display: flex;
    align-items: center;
    &-box {
      max-width: 40rem;
      @media (max-width: 500px) {
        max-width: 44rem;
      }
      &--home {
        max-width: unset;
      }
    }
  }

  &__img-box {
    display: flex;
    justify-content: flex-end;
    flex-basis: 78.3rem;
  }
  &__simple-img {
    width: 100%;
    height: 39rem;
    padding-left: 10.8rem;
    &-box {
      height: 100%;
      width: 100%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  &__img-composition {
    height: 41.2rem;
    width: 49.8rem;
    position: relative;
    margin-left: 4.7rem;

    @media (max-width: 800px) {
      width: 42rem;
    }
    @media (max-width: 650px) {
      width: 37rem;
    }
  }
  &__img-underlay {
    background-color: #fcc657;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 100px;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 3.9rem;
    right: 2.7rem;
    border-bottom-left-radius: 100px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__btn-demo {
    margin-right: 1.8rem;
  }

  &__action {
    display: flex;
  }
}
