.OfferingsCard {
  &__img {
    position: relative;
    width: 100%;
    height: 30.6rem;
    @media (max-width: 600px) {
      
      height: 35rem;
    }
    img {
      object-fit: cover;
      object-position: center;
    }
  }
}
