.BookAdemo {
  background: #fff;
  &__confirm {
    margin-top: 11.6rem;
    margin-bottom: 22rem;
  }
  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 113rem;
    height: 87.8rem;
    background: #fcc657;
    z-index: -1;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    transform: rotateZ(42deg) translateX(8%) translateY(-55%);
    @media (max-width: 730px) {
      display: none;
    }
  }
  &__content {
    display: flex;
    padding-top: 10.2rem;
    position: relative;
    overflow: hidden;
    background: #fff;
    @media (max-width: 730px) {
      flex-direction: column;
    }
    @media (max-width: 500px) {
      padding-top: 2rem;
    }
  }
  &__info {
    flex-basis: 50.5%;
    padding-top: 2.4rem;
    @media (max-width: 870px) {
      flex-basis: 41%;
    }
  }
  &__list {
    p {
      position: relative;
      padding: 0 0 0 25px;

      &:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 0;
        width: 10px;
        height: 10px;
        background-color: #fcc657;
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }
  &__form {
    flex-basis: 49.5%;
    margin-bottom: 10.2rem;
    @media (max-width: 870px) {
      flex-basis: 59%;
    }
  }
}
