.Entry {
  width: 100%;

  .MuiFormControl-root {
    padding: 2.9rem 0 0 0;
  }
  .MuiFormHelperText-root.Mui-error {
    font-size: 1.2rem;
  }
  .MuiFormLabel-root {
    &.MuiInputLabel-shrink {
      position: absolute;
      top: 0;
      left: 0;
      color: #434c5e;
      font-family: "CircularStd";
      font-weight: 500;
      font-size: 13px;
      font-style: normal;

      transform: unset;
    }
  }

  .MuiOutlinedInput-root {
    border-radius: 0.36rem;
  }

  .MuiOutlinedInput-input {
    font-family: "CircularStd";
    font-weight: 400;
    font-size: 14px;
    line-height: 16.5px;
    font-style: normal;
    padding: 19px;
  }

  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #03256c;
    border-width: 1px;
  }
  .MuiOutlinedInput-root.Mui-error.Mui-focused
    .MuiOutlinedInput-notchedOutline {
    border-color: red;
    border-width: 1px;
  }

  .MuiOutlinedInput-notchedOutline {
    top: 0;
    border-color: #d4d9e2;
    transition: all 0.3s ease;
    legend {
      display: none;
    }
  }

  .MuiOutlinedInput-multiline {
    padding: 0;
  }
}
