.Accordion {
  width: 100%;

  .MuiAccordion-root {
    &::before {
      top: 99%;
      left: 0;
      right: 0;
      height: 1px;
      content: "";
      opacity: 1;
      position: absolute;
      transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      background-color: #f1f3f7;
    }
    &:last-child {
      &::before {
        opacity: 0;
      }
    }
  }

  @media (max-width: 600px) {
    width: 100%;
    padding: 0 2rem;
  }
  background: transparent;
  .MuiPaper-elevation1 {
    box-shadow: none;
  }
  .MuiAccordionSummary-content {
    margin-bottom: 3.9rem;
  }
  .MuiAccordionSummary-root {
    padding: 0;
    &.MuiButtonBase-root {
      align-items: flex-start;
    }
    .MuiIconButton-root {
      
    }
  }
  .MuiAccordionDetails-root {
    padding: 0rem 0 4.5rem 0;
  }
  
  &__line {
    width: 100%;
    border-top: 1px solid #f1f3f7;
  }
}
