.BookForm {
  background: #fff;
  height: 100%;

  @media (max-width: 1100px) {
    padding: 5rem 2rem 4.2rem 2rem;
  }
  @media (max-width: 500px) {
    box-shadow: unset;
    border-radius: unset;
    padding: 0;
  }
  &__section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.1rem;
    @media (max-width: 500px) {
      flex-direction: column;
      margin-bottom: 4.16rem;
    }
    .Entry {
      width: 48%;
      @media (max-width: 500px) {
        width: 100%;
      }
      &:first-child {
        @media (max-width: 500px) {
          margin-bottom: 4.16rem;
        }
      }
    }
  }
  & > .Entry {
    margin-bottom: 3.4rem;
  }
  .Entry {
    .MuiFormControl-root {
      @media (max-width: 500px) {
        padding: 3.9rem 0 0 0;
      }
    }
  }
}
